.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

}

.input-wrapper label {
  font: var(--body-sm);
  color: var(--text-body);
}

.input-wrapper input,
.input-wrapper textarea,
.toggle-container {
  appearance: none;
  width: 100%;

  background-color: var(--input-base);
  padding: 1.3rem 1.6rem;

  border-radius: .8rem;
  border: 1px solid var(--input-stroke);

  margin-bottom: 1.6rem;
}

.input-wrapper textarea {
  height: 13.6rem;
  margin-bottom: 5rem;
  
}

.wrapper {
  width: 100%;
} 

.wrapper .input-wrapper {
  flex: 1;
}

.input-wrapper input::placeholder,
.input-wrapper input[type="date"],
.input-wrapper input[type="file"],
.input-wrapper textarea {
  color: var(--input-placeholder);
  font: var(--body-md);
}

input[type="checkbox"] {
  display: none;
}

input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.toggle-container {
  display: flex;
  height: 4rem;
  width: 100%;
  padding: 0;
}

.toggle input {
  display: none;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  flex: 1;
  
  
  /* background-color: var(--input-base);
  border: 1px solid var(--input-stroke); */
  cursor: pointer;
  transition: 0.3s;

}

.toggle svg  {
  width: 1.6rem;
  height: 1.6rem;
  object-fit: cover;
}

.toggle span {
  font: var(--body-sm);
  color: var(--text-heading);
}

.toggle:has(input:checked) {
  border: none;
  border-radius: .4rem;
  background-color: var(--input-stroke);
  
  &.toggle span {
    font-weight: 700;
  }

  &.toggle svg path {
    stroke: var(--brand-light);
  }

}

.btn-input label:nth-child(2) {
  display: flex;
  align-items: center;

  
  width: 6.4rem;
  height: 3.2rem;
  border-radius: 100rem;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);

  position: relative;
  cursor: pointer;
}

.btn-input .circle {
  width: 2.4rem;
  height: 2.4rem;
  background-color: var(--input-stroke);
  border-radius: 50%;
  position: absolute;
  left: 4px;
  transition: 0.3s;

  cursor: pointer;
}

.btn-input:has(input:checked) label:nth-child(2) {
  background-color: var(--brand-light);
  border: 1px solid var(--input-stroke);
  transition: 0.3s;
}

.btn-input input:checked + .circle {
  left: 35px;
  background-color: var(--text-heading);
}

.btn-input span::after {
  content: "Escuro";
  font: var(--body-sm);
  color: var(--text-heading);
  transition: 0.3s;

}

.btn-input:has(input:checked) span::after {
  content: "Claro";
  transition: 0.3s;
  font: var(--body-sm);
  color: var(--text-heading);
}

.file-input {
  display: none;
  
}

.file-label {
  display: inline-block;
  padding: 1.5rem 1.2rem;
  background-color: var(--shape-button);
  font: var(--body-sm);
  font-weight: 700;
  color: var(--text-heading);
  border-radius: .8rem;
  cursor: pointer;

  margin-bottom: 4.8rem;


  & svg {
    width: 1.6rem;
    height: 1.6rem;

    & path {
      stroke: var(--brand-light);
    }
  }
}

.file-name {
  font: var(--body-md);
  color: var(--input-placeholder);
}

.mensagem-erro {
  display: none;
  gap: .8rem;
  align-items: center;
  margin-bottom: 1.6rem;

  & svg {
    width: 1.6rem;
    height: 1.6rem;

    & path {
      stroke: var(--danger);
    }
  }


  & span {
    color: var(--danger);
    font: var(--body-xs);
  }
}

input:required:focus {
  outline: 1px solid var(--danger)
}

input:required:invalid:focus + .mensagem-erro {
  display: flex;
}

.line {
  width: 100%;
  border: 1px solid var(--input-stroke);
  margin-top: 4.8rem;
  margin-bottom: 4rem;
}