* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --brand-light: #59B2FF;
  --brand-mid: #2487CF;
  --brand-dark: #1D6FB6;
  
  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;

  --danger: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;


  --font-logo: "Leckerli One", serif;
  --font-heading: "Baloo 2", serif;
  --font-body: "Open Sans", serif;


  --logo: 400 4rem var(--font-logo);

  --heading-md: 700 2.8rem var(--font-heading);
  --heading-sm: 700 1.8rem var(--font-heading);

  --body-md: 500 1.6rem var(--font-body);
  --body-sm: 500 1.4rem var(--font-body);
  --body-xs: 500 1.2rem var(--font-body); 
}

body {
 
  font-size: 1.6rem;

  border: 1rem solid var(--shape-background);
  border-radius: 2rem;

  overflow: hidden;

}


